*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 80vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 96px;
    padding: 8px;
    color: #E5E7EB;
}
span {
    font-weight: bold;
    color: #F9FAF8;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
li {
    list-style: none;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#left {
    width: 40%;
}
#left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px;
}
button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
button:hover {
    background-color: #a7c1ec;
}
#page2 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    gap: 44px;
    
}
    
.cards {
    height: 300px;
    width: 250px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;

}
.cards img {
    height: 200px;
    border-radius: 8px;
}
#main-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    margin: 32px 0 64px;
}
#page3 {
    height: 60vh;
    width: 100vw;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#qoute {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 8px 128px;
    text-align: center;
}
#author {
    font-weight: bold;
    font-size: 28px;
    
}

#page4 {
    height: 50vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#call-action {
    height: 20vh;
    width: 70vw;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    color: #F9FAF8;
    font-size: 24px;
    border-radius: 16px;
    padding: 8px;
}
#call-action button {
    background-color: #3882F6;
    border: 4px solid #F9FAF8;
    padding: 16px 32px;
    font-weight:bold;
    font-size: 20px;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 15vh;
}
